In [1]:
import numpy as np
import pandas as pd 
import math as m
import sys
sys.path.append('../Library')

from data_prep import PreProcessor1

import library_leo as leo

## entropy correlation

In [2]:
import random

In [5]:
f1 =pd.Series( np.linspace(0, 1, 100))
f2 = 2*f1
f3 = f1*f1
f4 = f1.apply(m.cos)
f5 =f1.apply(m.cos) + f1.apply(m.sin)
f6 = f1.apply(np.exp)
f7 = sigmoid(f1)

In [6]:
matrix = pd.concat([f1,f2,f3,f4,f5,f6,],axis=1)

          0         1         2         3         4         5
0  1.000000  1.000000  0.967644 -0.972237  0.912678  0.991668
1  1.000000  1.000000  0.967644 -0.972237  0.912678  0.991668
2  0.967644  0.967644  1.000000 -0.999756  0.780065  0.991969
3 -0.972237 -0.972237 -0.999756  1.000000 -0.791956 -0.994018
4  0.912678  0.912678  0.780065 -0.791956  1.000000  0.852523
5  0.991668  0.991668  0.991969 -0.994018  0.852523  1.000000

In [8]:
leo.entropy_corr(matrix)

    0   1   2   3   4   5
0 NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN NaN
4 NaN NaN NaN NaN NaN NaN
5 NaN NaN NaN NaN NaN NaN

In [ ]:
leo.two_col_entropy_corr(f2,f6,

np.float64(0.9999999999999999)

In [4]:
def sigmoid(x, a=20):
    return 1 / (1 + np.exp(-a * (x - 0.5)))

x = np.linspace(0, 1, 100)